{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
    
{% endblock %}
{% block content %}
<div class="container " style="background-color:Bisque;">
    <h3>
        Политика конфиденциальности
    </h3>
    <p>
        ООО "Малахит" (далее - "Компания") заботится о конфиденциальности своих клиентов и обязуется защищать личную информацию, которую они предоставляют при использовании нашего сайта и услуг. В данной политике конфиденциальности описывается, как мы собираем, используем и защищаем личную информацию наших клиентов.
<br>
Сбор личной информации
<br>
Компания собирает личную информацию своих клиентов только в тех случаях, когда это необходимо для предоставления услуг. Личная информация может включать имя, адрес электронной почты, номер телефона, адрес доставки и другую информацию, которую клиенты предоставляют при оформлении заказа или регистрации на сайте.

Использование личной информации

Компания использует личную информацию своих клиентов только для предоставления услуг и улучшения качества обслуживания. Мы можем использовать личную информацию для связи с клиентами по поводу заказов, уведомлений о новых услугах и акциях, а также для статистических целей.

Защита личной информации

Компания принимает меры для защиты личной информации своих клиентов от несанкционированного доступа, использования или раскрытия. Мы используем технологии безопасности для защиты личной информации, передаваемой через наш сайт.

Раскрытие личной информации

Компания не раскрывает личную информацию своих клиентов третьим лицам, за исключением случаев, когда это необходимо для предоставления услуг или по требованию закона.

Изменения политики конфиденциальности

Компания может время от времени вносить изменения в данную политику конфиденциальности. Если мы внесем значительные изменения, мы уведомим об этом наших клиентов путем размещения уведомления на нашем сайте.

Связь с нами

Если у вас есть какие-либо вопросы или комментарии относительно нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по адресу электронной почты info@malahit.ru.
    </p>
</div>
{% endblock %}

