{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
    
{% endblock %}
{% block content %}
<div class="container " style="background-color:Bisque;">
    <h4 class="text-centr"> О нас </h4>
        <p>
        «Добро пожаловать в кафе "Самовар" - место, где вы сможете насладиться вкусными блюдами русской традиционной кухни. Наше кафе расположено по адресу Вокзальная магистраль, 15 и предлагает своим гостям уютные залы на 70 и 170 мест соответственно.
        Наша кухня - это настоящий шедевр русской культуры. Мы готовим блюда по старинным рецептам, которые передаются из поколения в поколение. В меню вы найдете широкий выбор блюд, приготовленных из свежих и качественных продуктов. Мы уделяем особое внимание качеству и свежести продуктов, закупая их только у проверенных поставщиков.
        Кроме того, мы предлагаем услугу доставки готовых блюд на дом. Вы можете заказать любимые блюда из нашего меню и наслаждаться ими в уютной обстановке своего дома.
        Также мы принимаем заказы на торты и русские пироги. Наши кондитеры создадут для вас настоящий шедевр, который украсит любой праздник.
        В кафе "Самовар" вы сможете насладиться атмосферой русской гостеприимности. У нас вы можете провести время в кругу друзей и близких, наслаждаясь вкусными блюдами и приятной атмосферой. А после 19:30 для вас играет живая музыка до 23:00.
        Приходите к нам в гости и насладитесь вкусом настоящей русской кухни!»
        
    </p>
<div class="row">
    <img src="{% static 'img/res1.jpg' %}">
    <img src="{% static 'img/zal1.jpg' %}">
    <img src="{% static 'img/res2.jpg' %}">
    <img src="{% static 'img/zal2.jpg' %}">
    <img src="{% static 'img/res5.jpg' %}">


{% endblock %}

