{% load static %}
 {% comment %} <footer id="footer" class="footer">
    <div class="container-full">
      

      <img src="{% static 'img/Podval.png' %}" width="1310">
    
  </footer>

</body>
</html>  {% endcomment %}





<div class="container-futer-full" style="background-color: rgba(37, 37, 37)">

  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Единая спавочная:</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <h5 class="text-uppercase">8(383)222-77-44</h5>

            </li>
            <br>
            <li>
              <h5 class="text-uppercase">Доставка еды:</h5>
            </li>
            <li>
              <h5 class="text-uppercase"></i>8(383)222-77-44</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"><i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-backspace fa-fw fa-sm me-2"></i></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="far fa-file-alt fa-fw fa-sm me-2"></i></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"></h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white"></a>
            </li>
            <li>
              <a href="#!" class="text-white"><i class="fas fa-briefcase fa-fw fa-sm me-2"></i></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase" >Кафе домашний еды:</h5>

          <ul class="list-unstyled">
            <li>
              <h5 class="text-uppercase"><<Самовар>></h5>
            </li>
            <li>
              <i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>ООО<<Малохит>></a>
            </li>
            <li>
              <i class="fas fa-shipping-fast fa-fw fa-sm me-2"></i>г.Новосибирск,</a>
            </li>
            <li>
              <i class="fas fa-backspace fa-fw fa-sm me-2"></i>Вокзальная магистраль,15</a>
            </li>
            <li>
              <i class="far fa-file-alt fa-fw fa-sm me-2"></i>cafesamovar@mail.ru</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)" >
      Новосибирск 2023
      </div>

</div>  
