{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container " style="background-color:Bisque;">
    <h1>корзина</h1>
    <table class="cart">
        <thead>
        <tr>
       
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <p class="text-center">
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">удалить</a></td>
                    <td class="num">{{ item.price }}руб</td>
                    <td class="num">{{ item.total_price }}руб</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>итого</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }}руб</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "products:index" %}" class="btn btn-primary">вернутся к меню</a>
        <a href="{% url "orders:order_create" %}" class="btn btn-primary">оформит заказ</a>
    </p>
</div>




    <div class="container h-100" style="background-color:Bisque;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <p><span class="h2">Ваша корзина </span><span class="h4">{{ item.quantity }}</span></p>
  
          <div class="card mb-4">
            <div class="card-body p-4">
                {% for item in cart %}
                {% with product=item.product %}
  
              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="{% if product.image %}
                  {{ product.image.url }}
              {% else %}
                  {% static "img/no_image.png" %}
              {% endif %}"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Названия продукта</p>
                    <p class="lead fw-normal mb-0">{{ product.name }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                 
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Колличество</p>
                    <p class="lead fw-normal mb-0">{{ item.quantity }}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Цена </p>
                    <p class="lead fw-normal mb-0">{{ item.price }}руб</p>
                  </div>
                </div>
               
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Итого</p>
                    <p class="lead fw-normal mb-0">{{ item.total_price }}руб</p>
                  </div>
                  {% endwith %}
                  {% endfor %}
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="card mb-5">
            <div class="card-body p-4">
  
              <div class="float-end">
                <p class="mb-0 me-5 d-flex align-items-center">
                  <span class="small text-muted me-2">Весь заказ:</span> <span
                    class="lead fw-normal">{{ cart.get_total_price }}руб</span>
                </p>
              </div>
  
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <a href="{% url "products:index" %}" type="button" class="btn btn-light btn-lg me-2">Вернуться в меню</button></a>
            <a href="{% url "orders:order_create" %}"button type="button" class="btn btn-primary btn-lg">Заказать</button></a>
          </div>
  
        </div>
      </div>
    </div>
  </section>
{% endblock %}